
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agradecimientos</title>
</head>
<body>
    <h2>Gracias por utilizar el sistema de registro</h2>
</body>
</html>
